RewriteEngine On
RewriteBase /

# If the requested URL is a file that exists, serve it directly.
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# If the requested URL is a directory that exists, serve it directly.
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# For any other request, check if a .php file with that name exists.
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L]
